@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Comfortaa');


/*
Things to update and add
    new background -- DONE
    cohesive "theme" of design -- sorta
    floating blob following mouse [[ this would only work on web? how do to on mobile? ontouchmove in js? ]] 
    fix the input so that the title doesn't get too close when the field is filled
    status messages - add styling and fit rest of theme
    styling for the title of the table/movie list

*/

* {
    margin: 0;
    padding: 0;
    font-family: Comfortaa;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #648880;
    background: linear-gradient(to right, #f6F1d3, #648880, #293f50);
    /*background: url("../images/movies_background.jpeg")no-repeat;*/
    background-position: center;
    background-size: cover;
}

.formbox {
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.formheading {
    font-size: 2em;
    font-family: Comfortaa;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-80%);
    color: #fff;
    font-size: 1.25em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label {
    top: -4px;
}

.input-title {
    padding-bottom: none;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.8em;
    top: 10px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #466368;
    background: radial-gradient(#648880, #293f50);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
}


table {
    max-width: 400px;
    background-color: #466368;
    background: radial-gradient(#648880, #293f50);
    /* try new colors - aquamarine mediumpurple*/
    border-radius: 20px;
    border: 0;
    outline: none;
    color: #f2f2f2;
}

td {
    color: #f2f2f2;

}

th {
    color: #f2f2f2;

}

.ion-icon {
    font-size: 25px;
    cursor: pointer;
}

.delete-icon {
    cursor: pointer;
}

.input-icon {
    cursor: default;
}

.form-group {
    font-size: xx-large;
    font-family: Impact, sans-serif;
    font-stretch: extra-expanded;
    color: #f2f2f2;
}

.video-icon {
    font-size: 60px;
    color: #f2f2f2;
}

.header1 {
    color: #f2f2f2;
}

.list {
    justify-content: center;
    flex: auto;
}

h2 {
    text-align: center;
    font-family: Comfortaa;
    padding-top: 5px;

}